.team {
  background-color: var(--secondary-background-color);

  &.section {
    max-width: 100%;
  }
  & .section-title {
    margin-bottom: 50px;
  }
  & .team-list {
    display: flex;
    justify-content: space-between;
  }
  &-list-item {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &-list-img {
    width: 270px;
    height: 260px;
  }

  &-list-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--title-color);
  }

  &-list-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
  &-desc {
    background-color: #ffffff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    & .social-list {
      display: flex;
      justify-content: space-between;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 16px;
    }
  }
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .social-list-icon,
  &:focus .social-list-icon {
    fill: #ffffff;
  }
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
